/* Basic styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header and logo */
header {
    background-color: #4CAF50;
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 15px;
}

h1 {
    color: white;
    margin: 0;
}

/* Navigation styles */
nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #ADD8E6;
    text-align: left;
    margin: 0;
    display: flex;
    flex-direction: column;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    background-color: #333;
    padding: 15px 20px;
    display: block;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #555;
}

/* Section and Slideshow */
section {
    padding: 20px;
    display: none; /* Hide all sections initially */
}

#home {
    display: block; /* Only show the home section initially */
}

.slideshow {
    margin-top: 20px;
}

.slideshow-image {
    display: none;
    width: 100%;
    max-width: 600px;
}

.slideshow-image:first-child {
    display: block;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
